.page {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #ECEBE8;
    font-family: "Formular", sans-serif;
    font-weight: 300;
    color: #242424;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}