.footer__logo {
    min-width: 93px;
    height: 80px;
    margin: 42px 0 0;
    padding: 0;
    background: url("../../../img/footer-logo.svg") no-repeat center;
}
@media (max-width: 1111px) {
    .footer__logo {
        max-width: 93px;
        margin: 0 0 0 55px;
    }
}

