.footer__support-logo_mosbrew {
    width: 88px;
    height: 34px;
    margin: 51px 0 0 31px;
    padding: 0;
    background: url("../../../img/mosbrew.svg") no-repeat center;
}
@media (max-width: 1111px)  {
    .footer__support-logo_mosbrew {
        margin: 0 0 0 77px;
        min-width: 106px;
        height: 37px;
    }
}