.reviews__boxes {
    display: flex;
    justify-content: center;
    margin: 60px auto 0;
    padding: 0;
    max-width: 1320px;
}

@media (max-width: 625px) {
    .reviews__boxes {
        margin-top: 24px;
    }
}
