.header__sub-list {
  position: absolute;
  left: 42%;
  top: 30px;
  padding: 33px 0 0 0;
  display: none;
  width: 120px
}

.header__sub-list>li {
  background-color: #000D26;
  list-style: none;
  height: 28px;
}

@media screen and (max-width: 875px){
  .header__sub-list {
    left: 40%;
  }
}

@media screen and (max-width: 767px){
  .header__sub-list {
    position: relative;
    top: 0;
    left: 0;
  }
}
