.header__burger {
  display: none;
}

@media screen and (max-width: 767px){
 .header__burger {
   display: block;
   position: fixed;
   width: 24px;
   height: 24px;
   z-index: 3;
   margin-left: 40px;
 }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 11px;
    transition: all .3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all .3s ease 0s;
  }

  .header__burger:after{
    bottom: 0;
  }

  .header__burger:before{
    top: 0;
  }
}
