.footer__content {
    margin: 0 0 0 82px;
    padding: 0;
    width: 70vw;
}
@media (max-width: 1111px)  {
    .footer__content {
        position: relative;
        margin-left: 0;
        max-width: 100%;
    }
}