.performance__link {
    display: flex;
    color: inherit;
    text-decoration: none;
    padding: 16px;
    border-top: 1px solid #242424;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.performance__link:hover {
    background-color: transparent;
}

.performance__link:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

.performance__link:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    content: '';
    background-color: #ECEBE8;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}